body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
}
div {
  margin-top: 10px;
  margin-bottom: 10px;
}
#new-q-div {
  width: 80%;
  margin: 0 auto 0 auto;
}

#new-q-div > form{
  display: flex;
  flex-direction: column;
}

#menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 720px) {
  #menu-buttons {
    flex-direction: row;
    justify-content: space-between;
  }
}